.app {
  max-width: 900px;
  margin: auto;
  padding: 12px;
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  color: #811aa7;
  font-family: serif;
}

.rodape {
  text-align: center;
  color: #00000070;
  margin-top: 24px;
}

body {
  background-color: #f6e9ff;
  margin: 0;
}